@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

.greyBackground {
  background-color: #f5f6f8;
}

.whiteBox {
  background-color: white;
  border-radius: 7px;
}

.purpleButton {
  background-color: #5f2eea !important;
  border: #5f2eea !important;
  width: 182px;
}

.purpleButtonOutline {
  background-color: transparent !important;
  border: 1px solid #5f2eea !important;
  color: #5f2eea !important;
  width: 182px;
}
