@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

.containerCenter {
  text-align: center;
}

.containerForm {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.textCentered {
  text-align: center;
}

.pageVerticalSpacing {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.greyBackground {
  background-color: #f5f6f8;
}

/* Font Styling */
.fontBold {
  font-weight: bold;
}

.alignStart {
  text-align: start;
}

.alignEnd {
  text-align: end;
}

.vanguardCard {
  background-color: white;
  box-shadow: 0px 5px 10px 0px #bababa;
  border: none;
}

.purpleText {
  color: #5f2eea;
}

.purpleButton {
  background-color: #5f2eea !important;
  border: #5f2eea !important;
  width: 7rem !important;
}

.purpleButtonOutline {
  background-color: white !important;
  color: #5f2eea !important;
  border: 1px solid #5f2eea !important;
  width: 7rem;
}

.greyText {
  color: #6e7191;
}

.myOverflow {
  overflow-x: hidden;
}
