.leftSide {
  background: url("../components/img/login_register/image_1.png");
  background-repeat: no-repeat;
}

.purpleBackground {
  background-color: rgba(43, 21, 107, 0.8);
  min-height: 100vh;
  min-width: 100%;
}

.purpleButton {
  height: 49px;
  border: 1px solid rgba(43, 21, 107, 0.8) !important;
  background-color: rgba(43, 21, 107, 0.8) !important;
  width: 100%;
}

.allWhiteButton {
  border: 1px solid white;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 52px;
}

.whiteText {
  color: white;
}
